body {
  font: 15px Helvetica, Arial, sans-serif;
  background: #f4f4f4;
  color: #666;
}

.logo {
  display: block;
  margin: auto;
  text-align: center;
}

.container {
  width: 750px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-top: 3px solid #83cd39;
}

.clr {
  clear: both;
}

ul {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p {
  padding: 5px 0;
  margin-bottom: 0;
}

p {
  margin: 0;
}

nav {
  height: 40px;
  padding: 20px 0 0 10px;
  overflow: auto;
  font-size: 18px;
  background: #404137;
  color: #fff;
}

nav li {
  float: left;
  list-style: none;
}

nav a {
  margin: 0 10px;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

nav a.current,
nav a:hover {
  background: #83cd29;
  color: black;
}

.post {
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.post a {
  color: #666;
  text-decoration: none;
}

.post img {
  width: 100%;
  margin-bottom: 20px;
}

.meta {
  margin-bottom: 10px;
  padding: 7px;
  background: #ccc;
  border: 1px solid #ccc;
}

.meta a {
  text-decoration: underline;
}

.comment-name {
  font-weight: bold;
}

.comment-body {
  font-style: italic;
}

a.more {
  display: block;
  width: 80px;
  margin-top: 30px;
  padding: 10px;
  background: #404137;
  color: #fff;
}

footer p {
  text-align: center;
}

input,
select,
textarea {
  margin-bottom: 15px;
}

label {
  display: inline-block;
  width: 180px;
}

input[type="text"],
select,
textarea {
  padding: 3px;
  height: 20px;
  width: 200px;
  border: 1px #ccc solid;
}

select {
  height: 28px;
}

textarea {
  height: 70px;
  width: 400px;
}

ul.success li {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 15px;
  color: #3c763d;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  border-radius: 4px;
  list-style: none;
}

ul.errors li {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 15px;
  color: #ff0000;
  background-color: #f09999;
  border: 1px solid #ff0000;
  border-radius: 4px;
  list-style: none;
}
